.*
!.gitignore
*.[oa]
*.lo
*.la
build
m4/l*
stamp*
config*
missing
aclocal.m4
autom4te.cache
install-sh
libtool
depcomp
ltmain.sh
src/mpifarm
!Makefile.am
!configure.ac
src/old/*.*
*.tar.gz
*.tgz
*.mod
*.so
*.pyc
*.log
*.aux
*.toc
doxygen.css
doxygen.png
tab_b.gif
tab_l.gif
tab_r.gif
tabs.css
FreeSans.ttf
Makefile
doxygen.sty
!config_fortran.py
gitlog2changelog.py
*.h5
!config.h.in
